################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/DesignPattern/obj/Debug
/DesignPattern/bin/Debug
/DesignPattern/obj/Release
/BaiDuOCR/obj
/BaiDuOCR/bin/Debug
/BaiDuFace/bin/Debug
/BaiDuFace/obj
/.vs
/DesignPattern/SimpleFactoryPattern/obj
/DesignPattern/SimpleFactoryPattern/bin/Debug
/packages
/FaceRecognitionDotNet/CLISelf/.vs/CLISelf/v15
/FaceRecognitionDotNet/CLISelf/CLISelf/bin/Debug
/FaceRecognitionDotNet/CLISelf/CLISelf/obj
/FaceRecognitionDotNet/CLISelf/packages
/FaceRecognitionDotNet/DlibDotNet/bin/Debug/netstandard2.0
/FaceRecognitionDotNet/DlibDotNet/obj
/FaceRecognitionDotNet/DlibDotNet.Extensions/bin/Debug
/FaceRecognitionDotNet/DlibDotNet.Extensions/obj/Debug
/FaceRecognitionDotNet/FaceRecognitionDotNet/bin/Debug/netstandard2.0
/FaceRecognitionDotNet/FaceRecognitionDotNet/bin/Release/netstandard2.0
/FaceRecognitionDotNet/FaceRecognitionDotNet/obj
/百度AI/BaiDuFace/bin/Debug
/百度AI/BaiDuFace/obj
/百度AI/BaiDuOCR/bin/Debug
/百度AI/BaiDuOCR/obj
/设计模式/SimpleFactoryPattern/bin/Debug
/设计模式/SimpleFactoryPattern/obj
