<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--百度AI-->
    <add key="BaiduAI.AppID" value="16812129"/>
    <add key="BaiduAI.APIKey" value="zm7ZgDcG6YYOrynOWu3DzXbP"/>
    <add key="BaiduAI.SecretKey" value="FdMA7XSbCoveGwIwWDDlO9BCc7eDumg0"/>
  </appSettings>
</configuration>